.wrap-form {
	background-image: url("../../../assets/image/login.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 0;
	overflow: hidden;
	z-index: 11;
}
.form-group input {
	outline: 0;
	border-width: 0 0 2px;
	border-radius: 0;
}
.input-group span {
	position: absolute;
	margin-left: 5px;
	height: 25px;
	display: flex;
	align-items: center;
}
.login-form {
	width: 400px;
	border-radius: 8px;
	// padding: 48px 48px 40px 48px;
	min-height: 400px;
	background: #fff;
	position: relative;
	box-shadow: 0 12px 20px rgb(0 0 0 / 12%);
	flex-direction: column;
}
.login-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex: 1;
}
.form-control:focus {
	border-color: blue;
	-webkit-box-shadow: none;
	box-shadow: none;
}
// Override
.alert {
	margin-top: 15px;
	margin-bottom: 12px;
	height: 34px;
	line-height: 30px;
	padding: 0px 15px;
}
.invalid-feedback {
	color: red;
}
span,
a {
	font-family: Roboto-Regular;
	font-size: 16px;
	letter-spacing: 0;
	margin-left: 5px;
}

a {
	color: #1b47db;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
}

img {
	margin: 20px;
}

.input-form {
	display: flex;
}

i {
	display: flex;
	justify-content: center;
	align-items: center;
}
.invalid-feedback {
	display: flex;
}

.logo-name {
	font-size: 24px;
}
.icon-close {
	position: absolute;
	top: 24px;
	right: 26px;
}
