/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/icon.scss";
@import "./assets/scss/mixin.scss";

*, body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  font-family: Roboto;
  text-rendering: optimizeLegibility;
}

.cursor-pointer {
  cursor: pointer;
}

.dis-flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}
