<div class="content">

    <!-- Phần tiêu đề ở dashboard -->
    <div class="description-stories">
        <div class="title center-horizontal">Stories</div>
        <p class="description center-horizontal">CHỌN NGÔN NGỮ BẠN MUỐN HỌC</p>
    </div>

    <!-- Danh sách ngôn ngữ -->
    <div class="language dis-flex justify-content-center" *ngIf="isShowListLanguage">
        <div class="box" *ngFor="let item of listLanguage" (click)="openStory(item)">
            <div class="flag" [class]="item?.name"></div>
            <div class="name-nation"> {{ item?.name }} </div>
        </div>
    </div>
    <!-- End danh sách ngôn ngũ -->

    <!-- Loading -->
    <div class="content-stories" *ngIf="isLoading && isShowListLanguage">
        <div class="stories-detail center-horizontal">
            <div class="stories box-thumbnail"></div>
            <div class="stories box-thumbnail"></div>
            <div class=" stories box-thumbnail"></div>
        </div>
        <div class="stories-detail center-horizontal">
            <div class="stories box-thumbnail"></div>
            <div class="stories box-thumbnail"></div>
            <div class=" stories box-thumbnail"></div>
        </div>
    </div>
    <!-- End loading -->

    <div class="language">
        <app-stories *ngIf="!isShowListLanguage" (isHiddenLang)="hiddenLang($event)"></app-stories>
    </div>
</div>