<div class="content">

    <!-- Phần tiêu đề ở dashboard -->
    <div class="description-stories">
        <div class="title center-horizontal">Duolingo Stories</div>
        <p class="description center-horizontal">Earn XP through stories that challenge your reading comprehension.</p>
    </div>

    <!-- Các phần của câu chuyện theo từng Set -->
    <div class="content-stories">
        <div class="title-content center-horizontal">Set 1</div>
        <div class="stories-detail center-horizontal">

            <div class="stories cursor-pointer" *ngFor="let story of listStory" (click)="openStoriesDetail(story.IconID)">
                <div [class]="story.IconName"></div>
                <div class="storise-name">{{ story.IconText }}</div>
                <div class="storise-xp">{{ story.IconXP }}</div>
            </div>

        </div>
    </div>


</div>
