.content {
  width: 100vw;
  height: 100px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fafafa;

  .action-translate {
    display: flex;
    justify-content: center;
    margin-top: 72px;
  }
}
