@import "../../../../assets/scss/color.scss";
@import "../../../../assets/scss/dx-style-overrid.scss";
::ng-deep {
  #flag-image {
    background-size: 40px;
    display: inline-block;
    height: 32.19512px;
    width: 40px;
  }
  .name {
    color: black;
    font-size: 20px;
  }

}
:host {

  .flag-image {
    background-size: 40px;
    display: inline-block;
    height: 32.19512px;
    width: 40px;
  }

  .nav {
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;

    .nav-left {
      display: flex;
      align-items: center;
      margin-left: 16px;

      .nav-left-icon {
        border-radius: 50%;
        margin: 0 4px;
        padding: 12px;
        vertical-align: middle;
        &:hover {
          background-color: rgba(60, 64, 67, 0.08);
          outline: none;
        }
      }

      .title-app {
        font-size: 16px;
        line-height: 24px;
        color: #1cb0f6;
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      margin-right: 24px;

      .launcher {
        border-radius: 50%;
        margin: 0 4px;
        padding: 12px;
        vertical-align: middle;
        height: 24px;
        width: 24px;

        &:hover {
          background-color: rgba(60, 64, 67, 0.08);
          outline: none;
        }
      }

      .avt {
        width: 32px;
        height: 32px;
        min-width: 32px;
        img {
          border-radius: 50%;
        }
      }
    }
  }
}
