<div class="nav">
  <div class="nav-left">

    <div class="nav-left-icon cursor-pointer">
      <div class="icon-stories"></div>
    </div>

    <div class="title-app cursor-pointer" (click)="openHome()">STORIES</div>

  </div>

  <div class="nav-right">

    <div class="flag m-right-36 m-top-6 cursor-pointer" id="flag" (click)="openLang()">
      <div id="flag-image" [(class)]="currentLanguage" [style]="currentStyle"></div>
    </div>

    <div class="user-name m-right-16">
       {{ userName }}
    </div>

    <dx-button stylingMode="contained" text="ĐĂNG NHẬP" [width]="150" (click)="singIn()" *ngIf="!userName">
    </dx-button>

    <dx-button stylingMode="contained" text="ĐĂNG XUẤT" [width]="150" (click)="singOut()" *ngIf="userName">
    </dx-button>

  </div>
</div>

<dx-popover target="#flag" position="bottom" [width]="'auto'" [(visible)]="isVisiblePopover" [height]="400">
  <div *dxTemplate="let data of 'content'">

    <dx-scroll-view>
      <div *ngFor="let item of listLanguage">
        <div class="dis-flex m-bottom-16 cursor-pointer" (click)="selectLanguage(item)">
          <div [class]="item.name" id="flag-image" [ngStyle]="changeBackground(item)"></div>
          <div class="name dis-flex justify-content-center align-item-center">{{ item.name }}</div>
        </div>
      </div>
    </dx-scroll-view>

  </div>
</dx-popover>