<div class="multiple-choice">
    <div class="title-question">Che significa "honey" qui?</div>
    <div class="content-question">
        <div class="m-top-8 dis-flex">
            <dx-check-box [value]="true"></dx-check-box>
            <div class="m-left-16 text-answers">Hello anh em</div>
        </div>
        <div class="m-top-8 dis-flex">
            <dx-check-box [value]="true"></dx-check-box>
            <div class="m-left-16 text-answers">Hello anh em</div>
        </div>
        <div class="m-top-8 dis-flex">
            <dx-check-box [value]="true"></dx-check-box>
            <div class="m-left-16 text-answers">Hello anh em</div>
        </div>
        <div class="m-top-8 dis-flex">
            <dx-check-box [value]="true"></dx-check-box>
            <div class="m-left-16 text-answers">Hello anh em</div>
        </div>
    </div>
</div>