<!-- Nhân vật kèm theo lời thoại -->
<div class="figure dis-flex justify-content-center m-top-16">
    <div class="avt"><img src="https://stories-cdn.duolingo.com/image/3037a98d2819c4de686d1aa6072e5bbfda892619.svg" alt=""></div>
    <div class="bubble">
        <div class="title dis-flex justify-content-center">
            <div class="icon-sound m-right-8 cursor-pointer"></div>
            <div class="word m-right-8" id="suggest">Line
                component
            </div>
            <div class="word" id="suggest">Working</div>
            <div class="word">!</div>
        </div>
    </div>
</div>