:host {
  ::ng-deep {
    .dx-texteditor.dx-editor-outlined {
      border: none;
    }
  }
  .translate-header {
    width: 1280px;
    height: 68px;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 8px auto;

    .text, .document {
      ::ng-deep {
        .dx-button-text {
          color: #1967d2;
        }
      }
    }

    .document {
      margin-left: 16px;
    }
  }

  .translate-action {
    width: 1280px;
    border-radius: 10px;
    margin: 8px auto;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.12);
    box-shadow: 0 2px 2px rgba(0,0,0,0.22);

    .translate-action-header {
      display: flex;
      height: 48px;
      align-items: center;
      padding: 0 24px;
      border-bottom: 1px solid #e0e0e0;

      .header-left {
        width: 50%;

        span {
          color: #878787;
          margin-right: 16px;
          font-size: 14px;
        }
      }

      .icon-convert {
        border-radius: 50%;
        margin: 0 4px;
        padding: 8px;
        height: 24px;
        display: flex;
        width: 24px;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: rgba(60, 64, 67, 0.08);
          outline: none;
        }
      }

      .header-right {
        margin-left: 24px;
        span {
          color: #878787;
          margin-right: 16px;
        }
      }

    }

    .translate-action-content {
      display: flex;
      height: auto;

      .enter-translate {
        flex: 50%;
        margin-left: 24px;
        border-right: 1px solid rgba(0,0,0,0.12);
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;

        .ct-area {
          flex: 1;
        }

        .enter-translate-info {
          display: flex;
          .ct-icon {
            display: flex;
            flex: 1;
          }

          .ct-number-letter {
            margin-right: 8px;
          }

          .ct-keyboard {
            margin-right: 8px;
          }

        }
      }

      .result-translate {
        flex: 50%;
        .result {
          font-size: 24px;
          line-height: 32px;
          color: #878787;
          padding: 20px 48px 20px 48px;
        }
      }

    }
  }
}
