<div>
  <!-- Phần header bao gồm chức năng dịch văn bản hay tài liệu  -->
  <div class="translate-header">
    <!-- Dịch văn bản -->
    <div class="text">
      <dx-button
        stylingMode="contained"
        text="Văn bản"
        type="normal"
        [width]="108"
        [height]="36"
      >
      </dx-button>
    </div>

    <!-- Dịch tài liệu -->
    <div class="document">
      <dx-button
        stylingMode="outlined"
        text="Tài liệu"
        type="normal"
        [width]="108"
        [height]="36"
      >
      </dx-button>
    </div>
  </div>

  <div class="translate-action">
    <!-- Chọn ngôn ngữ -->
    <div class="translate-action-header">
      <div class="header-left">
        <span>PHÁT HIỆN NGÔN NGỮ</span>
        <span>VIỆT</span>
        <span>ANH</span>
        <span></span>
      </div>

      <div class="icon-convert cursor-pointer">
        <div class="icon-swap"></div>
      </div>

      <div class="header-right">
        <span>VIỆT</span>
        <span>ANH</span>
        <span></span>
      </div>

    </div>

    <div class="translate-action-content">
      <!-- Ô nhập từ cần dịch  -->
      <div class="enter-translate">
        <dx-text-area 
          #content
          [minHeight]="92"
          class="ct-area"
          [autoResizeEnabled]="true"
        >
        </dx-text-area>

        <div class="enter-translate-info">
          <!-- Icon dịch bằng giọng nói -->
          <div class="ct-icon">
            <div class="icon-record"></div>
          </div>

          <!-- Số từ có thể dich -->
          <div class="ct-number-letter">0 / 5000</div>

          <!-- Bàn phím loại gì -->
          <div class="ct-keyboard">5000</div>
        </div>
      </div>

      <!-- Kết quả của phần dịch  -->
      <div class="result-translate">
        <div class="result">Bản dịch</div>
      </div>
      
    </div>
  </div>
</div>
