<div class="action">

  <!-- Xem lại lịch sử đã dịch -->
  <div class="cursor-pointer">
    <div class="round-action">
       <div class="icon-history"></div>
    </div>
    <div class="text-action">Lịch sử</div>
  </div>   <!-- End xem lại lịch sử đã dịch -->

  <!-- Xem những từ vựng đã lưu -->
  <div class="cursor-pointer">
    <div class="round-action">
      <div class="icon-favorite"></div>
    </div>
    <div class="text-action">Đã lưu</div>
  </div>  <!-- End xem những từ vựng đã lưu -->
  
</div>
