@import "./link-icon.scss";

@mixin setIconWithDefaultColor(
  $icon-name,
  $icon-width,
  $icon-height,
  $icon-posX,
  $icon-posY,
  $icon-link
) {
  .#{$icon-name} {
    width: $icon-width;
    height: $icon-height;
    background: $icon-link $icon-posX $icon-posY no-repeat;
  }
}

@mixin make-property($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
    #{$prefix}#{$property}: $value;
  }
}

@mixin setIcon(
  $icon-name,
  $icon-width,
  $icon-height,
  $icon-color,
  $icon-posX,
  $icon-posY,
  $icon-link
) {
  .#{$icon-name} {
    width: $icon-width;
    height: $icon-height;
    @include make-property(mask-image, $icon-link);
    @include make-property(mask-position, $icon-posX $icon-posY);
    @include make-property(mask-repeat, no-repeat);
    background-color: $icon-color;
  }
}

@include setIconWithDefaultColor(
  icon-selected,
  24px,
  24px,
  -48px,
  0px,
  $link-icon
);
@include setIconWithDefaultColor(
  icon-history,
  24px,
  24px,
  -0px,
  0px,
  $link-icon
);
@include setIconWithDefaultColor(
  icon-launcher,
  24px,
  24px,
  -444px,
  0px,
  $link-icon
);
@include setIconWithDefaultColor(icon-swap, 24px, 24px, -24px, 0px, $link-icon);
@include setIconWithDefaultColor(
  icon-record,
  24px,
  24px,
  -120px,
  0px,
  $link-icon
);
@include setIconWithDefaultColor(
  icon-favorite,
  24px,
  24px,
  -96px,
  0px,
  $link-icon
);

@include setIconWithDefaultColor(
  icon-stories,
  32px,
  32px,
  -152px,
  0px,
  $link-icon
);
@include setIconWithDefaultColor(
  icon-good-morning,
  135px,
  124px,
  -287px,
  0px,
  $link-icon
);
@include setIconWithDefaultColor(
  icon-sound,
  28px,
  28px,
  -198px,
  4px,
  $link-icon
);

@include setIconWithDefaultColor(
  icon-close,
  18px,
  18px,
  -373px,
  -154px,
  $link-icon-story
);

@include setIcon(icon-close-black, 18px, 18px, black, -373px, -154px, $link-icon-story);

@include setIconWithDefaultColor(
  icon-tick,
  42px,
  30px,
  -165px,
  -90px,
  $link-icon-story
);
@include setIconWithDefaultColor(
  icon-form,
  75px,
  75px,
  -448px,
  -149px,
  $link-icon-story
);

@include setIconWithDefaultColor(English, 82px, 66px, 0px, 0px, $link-flag);
@include setIconWithDefaultColor(Esperanto, 82px, 66px, 0px, -66px, $link-flag);
@include setIconWithDefaultColor(Japanese, 82px, 66px, 0px, -132px, $link-flag);
@include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -198px, $link-flag);
@include setIconWithDefaultColor(Japanese, 82px, 66px, 0px, -264px, $link-flag);
@include setIconWithDefaultColor(Italian, 82px, 66px, 0px, -330px, $link-flag);
@include setIconWithDefaultColor(Swedish, 82px, 66px, 0px, -396px, $link-flag);
// @include setIconWithDefaultColor(Chinese, 82px, 66px, 0px, -462px, $link-flag);
@include setIconWithDefaultColor(Russian, 82px, 66px, 0px, -528px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -594px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -660px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -726px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -792px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -858px, $link-flag);
// @include setIconWithDefaultColor(Greek, 82px, 66px, 0px, -924px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -990px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1056px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1122px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1188px, $link-flag);
@include setIconWithDefaultColor(Danish, 82px, 66px, 0px, -1254px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1320x, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1386px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1452px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1518px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1584px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1650px, $link-flag);
@include setIconWithDefaultColor(
  Ukrainian,
  82px,
  66px,
  0px,
  -1716px,
  $link-flag
);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1782px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1848px, $link-flag);
@include setIconWithDefaultColor(Hindi, 82px, 66px, 0px, -1914px, $link-flag);

// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -1980px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2046px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2112px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2244px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2310px, $link-flag);

// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2376px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2442px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2508px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2574px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2640px, $link-flag);

// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2706px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2772px, $link-flag);
// @include setIconWithDefaultColor(Dutch, 82px, 66px, 0px, -2838px, $link-flag);
