@import "./../../../../assets/scss/color.scss";
@import "../../../../assets/scss/dx-style-overrid.scss";
@import "../../../../assets/scss/loading.scss";

:host {
  .story-detail {
    height: 520px;
    overflow-y: scroll;
    overflow-x: hidden;

    // Firefox
    scrollbar-color: #687a84 #e8eaef !important;
    scrollbar-width: thin !important;

    // Chorme
    &::-webkit-scrollbar {
      width: 8px;
      height: 245px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      // box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
      background-color: #e8eaef;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #687a84;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 45px 40px 40px;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      background: white;
      box-sizing: border-box;
      z-index: 10;

      .progress {
        margin-left: 16px;
        width: 60%;
        margin-top: 4px;
      }
    }
    .main {
      margin-top: 36px;

      .complete {
        .img {
          height: 200px;
          width: 200px;
          img {
            width: 100%;
            left: 0;
            top: 0;
            height: 100%;
          }
        }
        .text-complete {
          font-size: 32px;
          font-weight: bold;
        }
        .des-complete {
          font-size: 16px;
          font-style: italic;
        }
      }
    }
  }

  .footer-active {
    background-color: #b8f28b !important;
  }

  .footer {
    border-top: 2px solid #e5e5e5;
    position: fixed;
    background: white;
    z-index: 10;
    bottom: 0px;
    left: 0;
    height: 140px;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrap-icon {
      background: #fff;
      border-radius: 98px;
      display: inline-block;
      flex-shrink: 0;
      float: left;
      height: 80px;
      margin-right: 16px;
      width: 80px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    .text-footer {
      color: #58a700;
      font-size: 25px;
      margin: 0 0 0 12px;
      display: flex;
      align-items: center;
    }
    .continue {
      margin-right: 128px;
    }
  }
  .avt {
    height: 50px;
    margin-right: 12px;
    width: 50px;
    display: flex;
  }
  .image {
    margin-top: 116px;
  }
}

.figure {
  .bubble {
    background-color: #fff;
    border: 2px solid #dedede;
    border-radius: 14px;
    border-top-left-radius: 14px;
    border-top-left-radius: 0;
    max-width: 80%;
    padding: 10px 12px;
    width: max-content;
    position: relative;
    display: inline-block;
    &::before {
      border-bottom: 12px solid transparent;
      border-right: 12px solid #dedede;
      border-top-left-radius: 50%;
      content: "";
      left: -14px;
      position: absolute;
      top: -2px;
    }
    &::after {
      border-bottom: 12px solid transparent;
      border-right: 12px solid #fff;
      content: "";
      left: -9px;
      position: absolute;
      top: 0;
    }
  }
}

.title {
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  .word {
    position: relative;
    background-image: linear-gradient(to right, #e5e5e5 60%, rgba(255, 255, 255, 0) 0%);
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: 5px 2px;
    padding-bottom: 5px;
  }
}

.title-story {
  margin-left: 30%;
  margin-bottom: 20px;
}

.question {
  margin-left: 30%;
  margin-bottom: 20px;
  .multiple-choice {
    .content-question {
      display: flex;
      flex-direction: column;
      .text-answers {
        color: #4b4b4b;
        font-size: 19px;
        font-weight: 500;
        line-height: 1.68;
      }
    }
  }
}

::ng-deep {
  .disable {
    background: #a3a3a3;
    transform: translate(0, 5px);
    box-shadow: #575757 0 0px;
    color: #575757;
    cursor: default;
  }
  .dx-checkbox-checked.dx-checkbox-icon {
    background: red;
  }
  .dx-checkbox-icon {
    width: 40px;
    height: 40px;
    border-radius: 9px;
    background: #fff;
    border: solid #e5e5e5;
  }
  .dx-checkbox-checked .dx-checkbox-icon {
    font: 16px/16px DXIcons;
    color: #e5e5e5;
    text-align: center;
  }
  .dx-checkbox.dx-state-focused .dx-checkbox-icon {
    border: solid #e5e5e5;
  }
  .dx-checkbox.dx-state-hover .dx-checkbox-icon {
    border: solid #e5e5e5;
  }

  .dx-state-disabled.dx-checkbox .dx-checkbox-icon {
    opacity: 1;
  }
}

.title-question {
  font-size: 19px;
  font-weight: bold;
}

.word-order {
  line-height: 1.45;
  background: #fff;
  border: solid #e5e5e5;
  border-radius: 14px;
  color: #4b4b4b;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  margin: 4px;
  padding: 8px 15px;
}
