.word-order {
    line-height: 1.45;
    background: #fff;
    border: solid #e5e5e5;
    border-radius: 14px;
    color: #4b4b4b;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
    margin: 4px;
    padding: 8px 15px;
}
.title-question {
    font-size: 19px;
    font-weight: bold;
}
