<div class="wrap-form">
    <div class="register-form dis-flex">

        <div class="dis-flex justify-content-center m-bottom-16">
            <img src="http://d35aaqx5ub95lt.cloudfront.net/images/duolingo-touch-icon2.png" alt=""
                style=" width: 40px; height: 40px;">
            <div class="dis-flex align-item-center logo-name">ĐĂNG KÝ</div>
        </div>

        <div>

            <!-- Tên người dùng -->
            <div class="email dis-flex justify-content-center">
                <dx-text-box placeholder="Tên người dùng" [width]="304" [height]="48" [(value)]="userName">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Tên người dùng không được để trống"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>

            <!-- Nhập email -->
            <div class="email dis-flex justify-content-center m-top-16">
                <dx-text-box placeholder="Nhập email" [width]="304" [height]="48" [(value)]="email">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Email không được để trống"></dxi-validation-rule>
                        <dxi-validation-rule type="email" message="Email không hợp lệ"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>

            <!-- Nhập mật khẩu -->
            <div class="pass dis-flex justify-content-center m-top-16">
                <dx-text-box mode="password" placeholder="Nhập mật khẩu" [showClearButton]="true" [width]="304"
                    [(value)]="password" [height]="48">

                    <dx-validator>
                        <dxi-validation-rule type="required" message="Mật khẩu không được để trống"></dxi-validation-rule>
                    </dx-validator>

                </dx-text-box>
            </div>

            <!-- Đăng nhập -->
            <div class="sign dis-flex justify-content-center m-top-16">
                <dx-button stylingMode="contained" text="Đăng ký" type="normal" [width]="304"
                    (onClick)="signUp($event)">
                </dx-button>
            </div>
        </div>


    </div>
    <div class="icon-close cursor-pointer" (click)="goToHome()"></div>
</div>